.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.justify-between {
    justify-content: space-between;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}